@import'../main/main.scss';

.container{
    form{
    display: flex;
    padding: 20px 0;  
    input{
        margin-left: 5px;
    }
    >button{
            min-width: 10%;
            background-color: transparent;
            color: $green;
            margin: 0 0 0 40px;
    }
    }
}

.body-wrapper{
    margin-top: 30px;
    .container{
        margin-top: 20px;
        padding: 0;
    }
}

