@import'../main/main.scss';

.button-green{
  margin-top: 30px;
}

.container{
  margin-top: 40px;

}
.form-control{
    &:focus{
        border: solid 1px $cyan;
        box-shadow: none;}

}
.form-select:focus {
    border: solid 1px black;
    box-shadow: none;
}