.button1{
    border-radius: 0;
    border-bottom: solid 1px royalblue;
    padding: 0;
    text-align: center;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
    justify-content:space-evenly;
    button{
        position: relative;
        border: none;
       &::after{
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            height: 2px;
            width: 110%;
            background-color: rgba(0, 0, 255, 0.623);
       }
    }
}
