@import'../main/main.scss';
@import'../load/load.scss';
.button1{
    border-radius: 0;
    border-bottom: solid 1px $green;
    padding: 0;
    text-align: center;
}
.container{
    position: relative;
    .page1, .page2 , .flex{
        min-width: 100%;
        table{
            min-width: 100%;
        }
    }
}
.flex{
    display: flex;
    justify-content:center;
    .activeBtn{
        color: $green ;
        font-weight: 600;
       &::after{
            height: 2px !important;
       }
    }
    button{
        font-size: 15px;
        position: relative;
        border: none;
        width: 50%;
        &:focus{
            box-shadow: none;
        }
        &:hover{
            color: $green;
        }
       &::after{
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            height: 0px;
            width: 100%;
            background-color: $green;
            z-index: 10;
            transition: all .1s;
       }
    }
    
    }

.page1{
    margin-top: 40px;
}
.page2{
    margin-top: 40px;
}
.voirLeProfil{
    color:$green;
    padding-top: 5px;
    float: right;
    margin-right: 5px;
}
.userName{
    padding-top: 10px;
    font-size:15px;
    margin-left: 10px;
    
}  

.form-control{
    &:focus{
        border: solid 1px $green;
        box-shadow: none;}

}
.form-select:focus {
    border: solid 1px black;
    box-shadow: none;
}

// resubla classes
.hidden{
    display: none;
}

.page1 {
    min-width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
      }
       
    &::-webkit-scrollbar-track {
        box-shadow: none;
      }
       
    &::-webkit-scrollbar-thumb {
        background-color: rgb(194, 194, 194);
        outline: 1px solid transparent;
        
      }
    
}
//modal
.container{
.modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.383);
    .modal-dialog{
        min-width: 80% !important;
        top: 36%;text-align:center;margin:0 40px;
        .modal-content{
           padding: 5px 10px;
           .btn-close{
            position: relative;
            left: 90%;
            &:focus{
                box-shadow: none;
            }
           }
        }
    }
  }
}