* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: white;
}

body {
  background-color: beige;
}

.button-green {
  background-color: #0da443;
  color: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-green:hover {
  background-color: #0da443;
}

.button-green:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: #0da443;
}

.button-green:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0da443;
}

.button-white {
  color: #0da443;
  background: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  margin-top: 50px;
}

.button-white:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: white;
}

.button-white:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.button-white:hover {
  background-color: white;
  color: #0da443;
}

.container {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .logoContainer {
  text-align: center;
}

.container .logoContainer img {
  max-width: 80%;
}

.container .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .linksContainer a.btn {
  margin: 10px 0;
}

.container .linkHolder {
  text-align: center;
}

.container .linkHolder a {
  color: rgba(0, 0, 0, 0.4);
}

.button-gaz {
  font-size: 15px;
  background-color: #FFD42A;
  border: none;
  border-radius: 100%;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 63px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -70px;
  pointer-events: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  opacity: 0;
  color: white;
  border: 2px solid #FFD42A;
  left: 0;
}

.button-gaz:hover {
  color: #FFD42A;
  background-color: white;
  border-color: #FFD42A;
  font-weight: 600;
}

.button-elec {
  font-size: 15px;
  background-color: #0da443;
  border: none;
  border-radius: 100%;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 63px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -70px;
  pointer-events: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  opacity: 0;
  color: white;
  border: 2px solid #0da443;
  right: 0;
}

.button-elec:hover {
  background-color: white;
  color: #0da443;
  border-color: #0da443;
  font-weight: 600;
}

#chiffre {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.chiffre {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.twoButtonsHolder {
  position: relative;
}

.btn-gaz-active {
  -webkit-transform: translate(54px, -50px);
          transform: translate(54px, -50px);
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}

.btn-elec-active {
  -webkit-transform: translate(-54px, -50px);
          transform: translate(-54px, -50px);
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.383);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content {
  padding: 5px 10px;
}

.modal .modal-dialog .modal-content .btn-close {
  position: relative;
  left: 90%;
}

.modal .modal-dialog .modal-content .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=techAdmin.css.map */