* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
}

.button-green {
  background-color: #0DA443;
  color: white;
  border: none;
  min-width: 200px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-green:hover {
  background-color: #0DA443;
}

.button-green:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.button-green:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-white {
  color: #0DA443;
  background: white;
  border: none;
  min-width: 200px;
  border-radius: 20px;
}

.button-white:hover {
  background-color: white;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .logoContainer {
  text-align: center;
}

.container .logoContainer img {
  max-width: 80%;
}

.container .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .linksContainer a.btn {
  margin: 10px 0;
}

.container div:last-child {
  text-align: center;
}

.container div:last-child a {
  color: rgba(0, 0, 0, 0.4);
}

.button-gaz {
  font-size: 15px;
  background-color: #ffee00;
  border: none;
  border-radius: 100%;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -15px;
  pointer-events: none;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  opacity: 0;
  left: 0;
}

.button-elec {
  font-size: 15px;
  background-color: green;
  border: none;
  border-radius: 100%;
  text-decoration: none;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -15px;
  pointer-events: none;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  opacity: 0;
  right: 0;
}

#chiffre {
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.chiffre {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.twoButtonsHolder {
  position: relative;
}

.btn-gaz-active {
  -webkit-transform: translate(24px, -21px);
          transform: translate(24px, -21px);
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}

.btn-elec-active {
  -webkit-transform: translate(-24px, -21px);
          transform: translate(-24px, -21px);
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}
/*# sourceMappingURL=techAdmin.css.map */