* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: white;
}

body {
  background-color: beige;
}

.button-green {
  background-color: #0da443;
  color: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-green:hover {
  background-color: #0da443;
}

.button-green:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: #0da443;
}

.button-green:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0da443;
}

.button-white {
  color: #0da443;
  background: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  margin-top: 50px;
}

.button-white:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: white;
}

.button-white:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.button-white:hover {
  background-color: white;
  color: #0da443;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.container form select {
  width: 80% !important;
  text-align: center;
}

.container form > button {
  min-width: 10%;
  background-color: transparent;
  color: #0da443;
  margin: 0;
}

.body-wrapper .container {
  margin-top: 4rem;
  min-height: 300px;
  position: relative;
}

.body-wrapper .container .oval {
  position: absolute;
  bottom: 0;
  left: 20%;
}

.body-wrapper .container .oval div {
  border-radius: 50%;
  font-size: large;
  text-align: center;
  line-height: 120px;
}

.body-wrapper .container .oval-1 {
  top: 10%;
  right: 20%;
  left: 60%;
}

.body-wrapper .container .oval-1 div {
  background-color: #96F3C1;
  width: 120px;
  height: 120px;
}

.body-wrapper .container .oval-2 div {
  background-color: #E395FF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}

h6 {
  position: relative;
  left: 20px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.container form select {
  width: 50%;
}

.container form button {
  min-width: 150px;
}
/*# sourceMappingURL=chiffres-details.css.map */