* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: white;
}

body {
  background-color: beige;
}

.button-green {
  background-color: #0da443;
  color: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-green:hover {
  background-color: #0da443;
}

.button-green:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: #0da443;
}

.button-green:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0da443;
}

.button-white {
  color: #0da443;
  background: white;
  border: none;
  min-width: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  margin-top: 50px;
}

.button-white:active {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  background-color: white;
}

.button-white:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

.button-white:hover {
  background-color: white;
  color: #0da443;
}

.container1 {
  max-width: 400px;
  margin: 0 auto;
  min-height: 10vh;
  background: linear-gradient(45deg, #0da443, #ffd42a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow-y: visible;
  overflow-x: clip;
}

.home, .menu {
  padding: 0 20px;
}

.home i, .menu i {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.navBar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  height: 100vh;
  min-width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navBar i {
  color: white;
  position: absolute;
  left: 85%;
  top: 4%;
  font-size: 22px;
  cursor: pointer;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40vh 0;
}

.navBar ul li {
  list-style: none;
  margin-top: 20px;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navBar ul li a:hover {
  color: #0da443;
}

.navBar ul li a[href="../deconnexion.php"] {
  color: black;
  margin: 0;
  padding: 5px 15px;
}

.hideNav {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showNav {
  opacity: 1;
  z-index: 100;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.activeLink {
  color: #0da443 !important;
}
/*# sourceMappingURL=header.css.map */